
/* About Section */
#about {
    background: linear-gradient(135deg, #000000, #285c1e);
    padding: 100px 0;
  }
  
  #about img {
    max-width: 60%;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dynamic-text {
    font-size: 70px;
    font-weight: bold;
    color: #4d8d3a;
    transition: opacity 0.9s;
    font-family: cursive;
    
  }
  .lead{
    font-size: 76px;
    color:#6cbe0e;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .word {
    display: none;
    color: #d3d036;
    white-space: nowrap;
    position: absolute;
  }
  
  .word.show {
    display: inline-block;
  }
  
  .resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a2f10f;
    color: #1aa5af;
    border: none;
    border-radius: 36px;
    text-decoration: dotted;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.6s;
    margin-top: 50px;
    margin-left: 160px;
  }
  .resume-button:hover {
    background-color: #afa626;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
  }
  