/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #3f2b2b;
  padding-top: 70px; /* Offset for fixed navbar */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', serif;
  color: #0af5f5;
}
h2{
  font-size: 44px;
}

/* Navigation Bar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.1rem;
  margin-left: 15px;
}


/* Footer */
footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px 0;
}
footer p {
  margin: 0;
  font-size: 1rem;
}