

/* Certifications Section */
#certifications{
  background: linear-gradient(135deg, #000000, #285c1e);

}

   
  .certifications-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.certification-item {
    display: flex;
    flex-direction: column;
    /* margin:22px; */
    align-items: center;
    margin: 18px;
    
}

.certification-item p {
    margin-top: -30px;
    font-size: 18px;
    font-weight: bold;
    color: #a4cc14;

}
.badge-img{
  width: 250px;
  height: 230px;
  
  

}

  