
/* Experience Section */
#experience {
    padding: 100px 0;
    background: linear-gradient(135deg, #000000, #285c1e);

  }
  
  .card {
    border: none;
    transition: transform 0.3s ease;
    background: linear-gradient(135deg, #000000, #285c1e);
    color:white;
  }
  .card:hover {
    transform: translateY(-10px);
  }